.card-blog {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 2rem;
  width: 40%;
  display: flex;
}

/* On mouse-over, add a deeper shadow */
.card-blog:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.btn-remove {
  background: red;
  color: white;
  padding: 0.5rem;
  width: auto;
  font-weight: 600;
  border-radius: 5px;
}