.header {
  padding: 1rem;
}

.card {
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.card-item {
  border: 2px solid #eee;
  max-width: 10rem;
}
